html {
    font-size: 11pt;
    word-wrap: break-word;
}
body {
    line-height: 1.5;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    margin: 10px;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin: 0;
    line-height: 1;
}
h1, .h1 {
    font-size: 3em;
}
h2, .h2 {
    font-size: 2.5em;
    border-bottom: 2px solid #404040;
}
h3, .h3 {
    font-size: 2em;
}
h4, .h4 {
    font-size: 1.5em;
}
h5, .h5 {
    font-size: 1em;
    color: #1a1a1a;
}
h6, .h6 {
    font-size: 0.8em;
    color: #1a1a1a;
}
p, .p {
    font-size: 1em;
}
blockquote, .blockquote {
    background-color: #f2f2f2;
    border-radius: 5px;
    border-left: 10px solid;
    border-left-color: #808080;
    padding-left: 0.5em;
    margin: 0;
}
pre, code { /* code */
    background-color: #f0f0f0;
    border: 1px solid;
    border-color: #999999;
    white-space: pre-wrap;
}
pre { /* code block */
    border-radius: 5px;
    padding: 0.5em;
}
code { /* inline code */
    border-radius: 3px;
}
pre code { /*remove styling for inline code in code block */
    background-color: inherit;
    border: 0;
}
