.root{
    -fx-font-size: 9pt;
    -fx-font-family: 'Open Sans', sans-serif;
}
#inputArea {
    -fx-font-size: 11pt;
    -fx-background-color: #212121;
    -fx-background-radius:0;
    -fx-text-fill: #ffffff;
    -fx-min-width: 0;
}
#inputArea .content {
    -fx-background-color: #212121;
    -fx-background-radius:0;
}
#menuBar {
    -fx-background-color: #f2f2f2;
}
#menuBar .menu .menu-item:focused, #menuBar .menu:showing, #menuBar .menu:hover {
    -fx-background-color: #8c8c8c;
}
#inOutArea {
    -fx-padding: 0;
}
